h1{
  font-size: 40px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family:"Poppins";
    


}
.top-banner{
    overflow: hidden;

}

.name-highlight{
   color: tomato;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    height: 100%;
}
.half-width img{
    width:100%;
}
.last{
    color: tomato;
}

.hire-me{


    text-decoration: none;
    background-color: tomato;
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.about{
    overflow: hidden;
    
    
}
.buton {
    background-image: linear-gradient(tomato,orange);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
  }
.work{
    color: rgba(27, 5, 126, 0.925);
}
.last-project h1{
    text-align: center;
}

.about-me{
    color: blue;
}
.about-web{
    height: 60%;
}
.project{
   color: lightsalmon;

}
.last-project{
    overflow: hidden;
    
}

  .column {
    float: left;
    width: 25%;
    height: 400px;
    box-shadow: thistle;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid white;
    margin: 50px;
    overflow: hidden;
  }
  
  }
  .content {
    background-color: white;
    padding: 10px;
    margin: 2px left;
    box-shadow: wheat;
  }
  .content img{
     width:100%;
  }
 .footer{
   
    overflow: hidden;
     height:600px;
     width: auto;
 }
 .job{
   font-size: 40px;
   display: inline-block;
   color: white;
   margin-top: 10%;
   margin-left: 10%;
   
 }
 .chat {
     text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 30%;
   
    
 }
 .foot{
    background-image: url(image/picture1.png);
    background-size:100%;
	background-repeat: no-repeat;
	height:35%;
	width:800px;
	margin:auto;
    }
   .connection{
       color: turquoise;
       text-align: center;
   }

